<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HomerMapper">

	<insert id="insertClient"
		parameterType="entity.Home"
		useGeneratedKeys="true" keyProperty="client_cd">
		insert into Home (
		product_cd,
		format_id,
		biko
		)
		values
		(
		#{add_product_name},
		#{add_format_id},
		#{add_biko}
		)
	</insert>

</mapper>